* {
  margin: 0;
  padding: 0;
}

:root {
  --cor-secundaria: #6495ed;
}

::-webkit-scrollbar {
  width: 5px;
  background: #000000;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--cor-secundaria);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
  cursor: grab;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #000000;
  min-width: 340px;
}

.dark-body {
  background-color: #dfdfdf;
}

header {
  background-image: linear-gradient(#000 80%, #00000000);
  color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.dark-header {
  background-image: linear-gradient(#ffffff 80%, #00000000);
  color: #000;
}

header .btns-lingua {
  width: 15%;
  display: flex;
  justify-content: center;
}

header .btns-lingua .btn-lingua {
  height: 30px;
  width: 50px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .btns-lingua .btn-lingua:hover {
  opacity: 0.5;
}

header .btns-lingua .btn-lingua:nth-child(1) {
  background-image: url("https://flagcdn.com/w40/us.png");
}

header .btns-lingua .btn-lingua:nth-child(3) {
  background-image: url("https://flagcdn.com/w40/br.png");
}

header .btns-lingua p {
  font-size: 24px;
}

header h1 a {
  width: 30%;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.dark-header-h1-a {
  color: #000;
}

header nav {
  width: 41.5%;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover {
  font-size: 17px;
}

.dark-header-a {
  color: #000;
}

header .btn-aparencia {
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}

header .btn-aparencia:hover {
  opacity: 0.5;
}

header .btn-aparencia img {
  height: 20px;
  width: 20px;
}

.dark-btn-aparencia {
  transform: rotate(720deg);
}

/* #region Header (Mobile) */
header .btns-nav {
  display: none;
  gap: 10px;
}

header .btn-pref,
header .btn-menu {
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}

header .btn-pref:hover,
header .btn-menu:hover {
  opacity: 0.5;
}

header .btn-pref img,
header .btn-menu img {
  height: 20px;
  width: 20px;
}
/* #endregion */

/* #region Main */
main {
  padding: 20px;
}

main section {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  padding: 20px 0;
  border-radius: 12px;
}

.apresentacao-section {
  position: relative;
  background-image: url(./img/bg1.jpeg);
  background-size: cover;
  background-position: center;
  margin-top: 57px;
}

.apresentacao-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border: none;
  border-radius: 12px;
  filter: invert(0);
  box-shadow: inset 0 0 100px 100px #000;
  transition: filter 0.5s ease-in;
}

.apresentacao-section * {
  z-index: 1;
}

.dark-apresentacao {
  box-shadow: inset 0 0 100px 100px #fff;
}

.dark-apresentacao::before {
  border: 4px solid #4424129c;
  filter: invert(0.75);
}

main section h1 {
  text-align: center;
  color: #ffffffcb;
}

.dark-h1-projetos {
  color: #000000d2;
}

main section .apresentacao-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  color: #ffffff9f;
}

main section .apresentacao-div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid var(--cor-secundaria);
  background: linear-gradient(0deg, #84939c, #0c0c0d85);
  box-shadow: inset 0 0 100px 10px #000;
  filter: contrast(1.2);
}

main section .apresentacao-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main section .apresentacao-container .titulo_bem_vindo {
  min-width: 430px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dark-h1-apresentacao {
  color: #000000d2;
  background-color: #ffffff73;
  backdrop-filter: blur(4px);
}

main section .apresentacao-container .titulo_bem_vindo span {
  margin-left: 9px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: var(--cor-secundaria);
}

.dark-p-apresentacao {
  color: #000000a1;
  background-color: #ffffff73;
  backdrop-filter: blur(4px);
}

.sobre {
  position: relative;
  background-image: url(./img/bg2.jpeg);
  background-size: cover;
  background-position: center;
}

.sobre::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border: none;
  border-radius: 12px;
  filter: invert(0);
  box-shadow: inset 0 0 100px 100px #000;
  transition: filter 0.5s ease-in;
}

.sobre * {
  z-index: 1;
}

.dark-sobre {
  box-shadow: inset 0 0 100px 100px #fff;
}

.dark-sobre::before {
  border: 4px solid #4424129c;
  filter: invert(0.75);
}

main section .sobre-container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ffffffd2;
}

main section .sobre-container div {
  display: flex;
  justify-content: center;
}

.dark-h1-sobre {
  color: #000000d2;
  background-color: #ffffff73;
  backdrop-filter: blur(4px);
}

main section .sobre-container p {
  text-align: center;
  backdrop-filter: blur(4px);
  overflow-y: auto;
}

.dark-p-sobre {
  color: #000000d2;
  background-color: #ffffff73;
  backdrop-filter: blur(4px);
}

main .projetos .titulo-projeto {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

main section .projetos-container {
  display: flex;
  justify-content: space-around;
  color: #ffffff9f;
}

main section .projetos-container .projeto-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section .projetos-container .projeto {
  position: relative;
  width: 20%;
  height: 300px;
  padding: 20px;
  border: none;
  border-radius: 16px;
  transition: width 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  border: 2px solid #1238449c;
}

main section .projetos-container .projeto h1,
main section .projetos-container .projeto p {
  color: #000000d2;
  background-color: #ffffff27;
  backdrop-filter: blur(4px);
}

.projeto::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border-radius: 16px;
  filter: invert(0) blur(4px) brightness(0.5);
  box-shadow: inset 0 0 100px 10px #000;
  transition:
    box-shadow 0.5s ease-in,
    filter 0.5s ease-in;
  z-index: 0;
}

.projeto * {
  z-index: 1;
}

.dark-projeto {
}

.dark-projeto::before {
  box-shadow: none;
  filter: brightness(0.8);
  transition:
    box-shadow 0.5s ease-in,
    filter 0.5s ease-in;
}

main section .projetos-container .projeto:nth-child(1) {
  background-image: url(img/projetos/Levisse.png);
}

main section .projetos-container .projeto:nth-child(2) {
  background-image: url(img/projetos/SenaiSurc.png);
}

main section .projetos-container .projeto:nth-child(3) {
  background-image: url(img/projetos/PaytoPlay.png);
}

main section .projetos-container .projeto:hover {
  width: 30%;
  transition: width 1s ease-in-out;
  cursor: pointer;
}

main section .projetos-container .projeto img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  border: 2px solid #1238449c;
}

main section .projetos-container .projeto p {
  text-align: center;
  margin-top: 10px;
}

.contato {
  position: relative;
  background-image: url(./img/bg3.jpeg);
  background-size: cover;
  background-position: center;
}

.contato::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  border: none;
  border-radius: 12px;
  filter: invert(0);
  box-shadow: inset 0 0 100px 100px #000;
  transition: filter 0.5s ease-in;
}

.contato * {
  z-index: 1;
}

.dark-contato {
  box-shadow: inset 0 0 100px 100px #fff;
}

.dark-contato::before {
  border: 4px solid #4424129c;
  filter: invert(0.75);
}

main .contato div {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.dark-h1-contato {
  color: #000000d2;
  backdrop-filter: blur(4px);
}

main section form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto 10px auto;
}

main section form label {
  margin-bottom: 5px;
  font-weight: bold;
  position: relative;
  top: 33px;
  left: 10px;
  color: #afafafaa;
  transition:
    top 0.3s ease-in-out,
    left 0.3s ease-in-out;
  cursor: pointer;
  filter: invert(0);
}

.dark-label {
  filter: invert(1);
}

main section form input,
textarea {
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #00000065;
  color: #ffffff;
}

main section form input:focus,
textarea:focus {
  border-color: #afafaf;
  outline: none;
  backdrop-filter: blur(1px);
  transition: backdrop-filter 0.5s ease;
}

main section form button {
  padding: 10px;
  background: #35424a65;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main section form button:hover {
  background: #0c0c0d9f;
  transition: all 0.3s ease-in-out;
}
/* #endregion */

/* #region Main (Mobile) */
main .page-pref,
main .page-menu {
  position: fixed;
  top: 0;
  left: 2000px;
  width: 100%;
  height: 100%;
  background-color: #000000ad;
  backdrop-filter: blur(4px);
  z-index: 4;
  transition: all 0.5s ease;
}

main .page-pref .btn-close,
main .page-menu .btn-close {
  position: relative;
  top: 10%;
  left: 80%;
  height: 50px;
  width: 50px;
  border: 2px solid #000;
  cursor: pointer;
  transition: transform 0.5s ease;
}

main .page-pref .btn-close:hover,
main .page-menu .btn-close:hover {
  opacity: 0.5;
}

main .page-pref .btn-close img,
main .page-menu .btn-close img {
  height: 20px;
  width: 20px;
}

main .page-pref .page-container,
main .page-menu .page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

main .page-pref .page-container button,
main .page-menu .page-container button {
  padding: 10px;
  background: #c0c8cc65;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

main .page-pref .page-container button a,
main .page-menu .page-container button a {
  width: 100%;
  color: #000;
  text-decoration: none;
}

main .page-pref .page-container .btns-lingua {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .page-pref .page-container .btns-lingua .btn-lingua {
  height: 30px;
  width: 50px;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .page-pref .page-container .btns-lingua .btn-lingua:hover {
  opacity: 0.5;
}

main .page-pref .page-container .btns-lingua .btn-lingua:nth-child(1) {
  background-image: url("https://flagcdn.com/w40/us.png");
}

main .page-pref .page-container .btns-lingua .btn-lingua:nth-child(3) {
  background-image: url("https://flagcdn.com/w40/br.png");
}

main .page-pref .page-container .btn-aparencia {
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
}

main .page-pref .page-container .btn-aparencia:hover {
  opacity: 0.5;
}

main .page-pref .page-container .btn-aparencia img {
  height: 20px;
  width: 20px;
}

.dark-btn-aparencia {
  transform: rotate(720deg);
}
/* #endregion */

/* #region Footer */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.dark-footer {
  background: #fff;
  color: #000;
}
/* #endregion */

/* #region Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header h1 {
    font-size: 1.8em;
  }
  header nav {
    width: auto;
  }
  header .page-pref,
  header .page-menu {
    left: 0;
  }
  main section .projetos-container .projeto {
    width: 25%;
  }
}
/* #endregion */

/* #region Celular */
@media screen and (max-width: 767px) {
  header .btns-nav {
    display: flex;
  }
  header .btns-lingua {
    display: none;
  }
  header .btn-aparencia {
    display: none;
  }
  header .btn-pref,
  header .btn-menu {
    display: flex;
  }
  header h1 {
    width: 60%;
    font-size: 1.246em;
  }
  header nav,
  header nav ul {
    display: none;
  }
  .apresentacao-section {
    margin-top: 50px;
  }
  main section .apresentacao-div {
    flex-direction: column;
  }
  main section .apresentacao-div img {
    width: 10em; /* font-size 1em = 10px on default browser settings */
    height: 10em;
  }
  main section .apresentacao-container .titulo_bem_vindo {
    min-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main section h1 {
    margin-bottom: 0;
  }
  main section .apresentacao-container p {
    text-align: center;
  }
  main .projetos {
    height: 900px;
  }
  main section .projetos-container {
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Applies 20px of space between all items */
  }
  main section .projetos-container .projeto {
    width: 90%;
    height: 200px;
  }
  main section .projetos-container .projeto:hover {
    width: 90%;
  }
  main section .projetos-container .projeto img {
    height: 8em;
  }
  main .projetos .projetos-container .projeto .projeto-detalhes h1 {
    font-size: 0.8em;
    margin-top: 1em;
  }
  main section .projetos-container .projeto p {
    max-height: max-content;
    word-wrap: break-word; /* Ou overflow-wrap: break-word; */
  }
  main section form {
    padding: 2em 2em;
  }
}
/* #endregion */
